<% provide(:title, "Sign in") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= yield(:title) %></title>
        </head>
        <body>
          <div id="clearance" class="sign-in">
            <h2><%= t(".title") %></h2>

            <%= render partial: '/sessions/form' %>

          </div>
        </body>
    </html>

