<% provide(:title, "woohoo") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= yield(:title) %></title>
        </head>
        <%= t(".opening") %>

        <%= edit_user_password_url(@user, token: @user.confirmation_token.html_safe) %>

        <%= raw t(".closing") %>
    </html>
