<div class="commentforum-form">
<br>
<br>
<br>  
    <%= form_for([@forumposts, @forumposts.commentforums.build]) do |f| %>
        <div class="text-field">
        <%= f.text_area :reply, placeholder: "Compose new reply...", style: 'width: 200%' %>
        </div>
        <div>
        <div id="commentforum-button">
            <%= f.submit "Reply", class: "btn btn-primary"%>
        </div>
    <% end %>
