<%= form_with(model: @forumcomment, local: true) do |f| %>
    <div class="field">
    <%= f.text_area :reply, placeholder: "Compose new reply..." %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>