
<h1>
    <%= current_user.firstname %>
    <%= current_user.lastname %>
</h1>
<span><%= pluralize(current_user.entries.count, "journal entries") %></span>
<span><%= pluralize(current_user.forumposts.count, "forum threads") %></span>