<% provide(:title, "Journal Feed") %>
<!DOCTYPE html>
    <html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>
        <body>
            <h1>journal feed</h1>
            <% @entries.each do |entry| %>
                <% if entry.journal.private == false %>
                    <li> <%= link_to entry.title, entry %> </li>
                <%end%>
            <% end %>        
        </body>
    </html>