<% provide(:title, "Feed") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= yield(:title) %></title>
        </head>
        <body>
            <h1>journal feed</h1>
            <!-- Find me in app/views/welcome/feed.html.erb -->
        </body>
    </html>

