<% provide(:title, "Forum") %>
<!DOCTYPE html>
    <html>
        <head>
                <title><%= yield(:title) %></title>
        </head>
        <body>
            <h1>forum</h1>
            <!-- Find me in app/views/welcome/forum.html.erb -->
        </body>
    </html>
