<% provide(:title, "Home") %>
<!DOCTYPE html>
    <html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
    </head>

<h1>Welcome back, Lily</h1>
<!-- Find me in app/views/welcome/index.html.erb -->
<br>
</html>
