<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
    </head>

    <h1>Welcome back, <%= current_user.lastname %></h1>
        <p>
        
    <!-- Find me in app/views/welcome/index.html.erb -->
    <br>
</html>