<h1>PROFILE</h1>
<!-- Find me in app/views/welcome/profile.html.erb -->

<%= link_to "HOME", welcome_index_path %>
<%= link_to "FORUM", welcome_forum_path %>
<%= link_to "FEED", welcome_feed_path %>
<%= link_to "PROFILE", welcome_profile_path %>