<% provide(:title, "Forum") %>
<div class="row">
  <div class="col-md-8">
      <h3>Forum </h3>
  </div>
  <div class="col-md-8">
        <ou class="forumposts">
        <div>
            <h3>Title</h3>
            <span class="title"><%= @forumposts.title %></span>
        </div>
        <div>
            <h3>Content</h3>
            <span class="content"><%= @forumposts.content %></span>
        </div>
            </ou>      
            <%= render @forumposts.comments %>
            <h3> Add a comment: </h3>
            <%= render 'shared/form' %>
  </div>
</div>