<% provide(:title, "Journal") %>
<!DOCTYPE html>
    <html>
        <head>
            <title><%= full_title(yield(:title)) %></title>
        </head>
        <body>
            <h1>
                <%= @journal.title %>
            </h1>
        </body>
    </html>