// Place all the styles related to the corrections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.corrections {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .title {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: grey;
      display: block;
      margin-left: 60px;
    }
}

.correction-particulars {
  text-align: left;
  font-family: 'Futura Std';
  font-size: 1.05em;
  color: #850941;
}

.correction-content {
  text-align: left;
  font-family: 'Futura Std';
  font-size: 1.05em;
}

.correction-form {
  text-align: center;
  font-family: 'Futura Std';
  font-size: 1.05em;
  label {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
}

#resolved-icon-2 {
  font-family: 'Futura Std';
  border: none;
  background-color: transparent;
  color: rgb(115, 165, 100) !important;
  vertical-align: -0.2em;
}

.label-corrections {
  text-align: center;
  width:15em;
}