@import "bootstrap-sprockets";
@import "bootstrap";
@import 'animate';

/* universal */
body {
    padding-top: 6em;
    background-color: #f5f4f0;
    text-align: center;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.centre {
    text-align: center;
}

.centre h1 {
    margin-bottom: 10px;
}

/* new fonts */
@font-face {
    font-family: 'Triomphe Bold';
    src: asset-url('Triomphe-Bold.otf');
}

@font-face {
    font-family: 'Futura Std';
    src: asset-url('Futura-Medium.ttf');
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: 'Futura Std';
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Futura Std';
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 1em;
    margin-top: 0.3em;
    text-align: left;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.05em;
    line-height: 1.7em;
    font-family: 'Futura Std';
    text-align: left;
}

/* header */


#logo {
    float: left;
    margin-right: 0px;
    font-size: 2em;
    color: #000;
    font-family: 'Triomphe Bold';
    letter-spacing: -1 px;
    padding-top: 1em;
    font-weight:bold;
    &:hover {
        color: #850941;
        text-decoration: none;
    }
}

#headerelements {
    padding-top: 3em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 2em;
    margin-right: 1em;
    height: 4.5em !important;
    font-family: 'Futura Std';
    color: #2B2D2F;

    &:hover {
        border-bottom: 3px solid currentColor;
        display: inline-block;
        text-shadow: none;
        box-shadow: none;
        background-color: transparent !important;
    }
}

.active #headerelements{
    font-family: 'Futura Std';
    color: #850941; 
    
}

/*buttons*/
.btn {
    font-family: 'Futura Std';
    font-size: 1em;
    background-color: #000;
    border-radius: 2em;
    padding: 9px 45px !important;
    margin-top: 2.2em;
    margin-left: 1.8em;
    border-color: transparent;

    &:hover {
        background-color: #850941 !important;
        text-decoration: none;
        border-color: transparent;
    }
}

.active .btn {
    background-color: #850941;
}

/* tags */ 
.tag {
    font-family: "Futura Std";
    margin: 1em;
}

.active .btn {
    background-color: #850941;
}
/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    border-radius: 0.5em;
    /* width: 30%; */
    margin-bottom: 1em;
    margin-left: 1em;
    @include box_sizing(border-box);
}

input {
    height: auto !important;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    padding: 0.2em 0.4em;
}

input:focus {
    box-shadow: 0 0 7px #df95b6;
    -webkit-box-shadow: 0 0 6px #df95b6;
    -moz-box-shadow: 0 0 6px #df95b6;
    border: 1px solid #6d2344;
}

.text-field {
    display: inline-block;
    clear: left;
    text-align: middle;
    font-family: 'Futura Std';
    textarea {
        width: 30em;
    }
}

label {
    display: inline-block;
    clear: left;
    width: 10em;
    text-align: right;
}

/* form submit button */
input[type=submit] {
    padding:0.9em 2.5em; 
    background:#000; 
    color: #fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 2em; 
    text-transform: uppercase;
    font-family: 'Futura Std';
    font-size: 0.8em;
    letter-spacing: 0.06em;
    &:hover {
        background:#850941; 
    }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar for profile */

aside {
    section.user_info {
      margin-top: 20px;
      list-style: none;
        a:hover {
            color: #850941;
            text-decoration: none;
        }
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }

/* checkbox for form */
.hideme {
  display: none;
}

.woo {
  cursor: pointer;
}

.hideme + .woo:before {
  width: 10px;
  height: 10px;
  border: 2px solid gray;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.2);
  background: red;
  position: relative;
  display: inline-block;
  margin-right: 1ex;
  content: "";
}

.hideme:checked + .woo:before {
  background: green;
}

/* form drop down menu */
.collection-select-class {
    padding: 0.25em;
}

.stats {
    overflow: auto;
    /* margin-top: 0.2em; */
    margin: auto;
    padding: 0.2em;
    font-family: 'Futura Std';
    font-size: 1.05em;
    text-align: center;
    a {
        float: left;
        padding: 0 10px;
        border-left: 1px solid $gray-lighter;
        color: gray;
        &:first-child {
            padding-left: 7em;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: #850941;
        }
    }
    strong {
        display: block;
    }
}

.entry-text-field {
    textarea {
        height: 25em;
        width: 60%;
    }
}

.entry-title-field {
    border-radius: 2em;
    padding: 0.5em 1em;
}

.futura-this {
    font-family: 'Futura Std';
}

.f-select-standard {
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 2em;
}

/* avatar */
.avatar {
  float: left;
  margin-right: 10px;
  width: 5em;
  height: 5em;
  border-radius: 1em;
}

.mini-avatar {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    width: 3em;
    height: 3em;
    border-radius: 0.7em;
    margin: 0.5em;
}

/* journal cover */
.journal-cover {
    width: 10em;
    height: relative;
}

.dropshadow{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    transform-style: preserve-3d;  
    width: 31.5%;
    height: 770px;
    background: linear-gradient(rgba(112, 112, 112, 0.15) 0%,   rgba(136, 134, 134, 0) 30%, rgba(129, 129, 129, 0) 100%);
    -webkit-transform: translateX(-20%) translateY(-34.5em) rotateZ(-56deg)  skewX(0deg) translateY(385px) scaleX(0.956161);
    transform: translateX(-10%) translateY(-34.5em) rotateZ(-56deg)  skewX(0deg) translateY(385px) scaleX(0.956161);
}
/* form text area */
textarea {
    font-family: 'Futura Std';
    font-size: 1.05em;
    padding: 1em;
    border-radius: 1em;
}

input[type = "text"] {
    font-family: 'Futura Std';
    font-size: 1em;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 7px #ac89a5;
    -webkit-box-shadow: 0 0 6px #ac89a5;
    -moz-box-shadow: 0 0 6px #ac89a5;
    border: 1px solid #ac89a5;
}

.tinymce {
    font-family: 'Futura Std';
    width: 100%;
}

.tinymce-edit {
    padding-left: 28%;
    font-family: 'Futura Std';
}

input[type = "email"] {
    font-family: 'Futura Std';
    font-size: 1em;
}

.other-links {
    text-align: center;
    font-family: 'Futura Std';
    font-size: 1.05em;
    color: #850941;
}

.nice-flash {
    font-family: 'Futura Std';
    font-size: 1.05em;
}

.select-field {
    font-family: 'Futura Std';
}

select:focus {
    outline: none;
}

#journal-form, #load-correction, #no-correction, #generator-field {
    display:none;
}

#correction-button, #perfection-button {
    border-radius: 2em;
    border: none;
    color: #f5f4f0;
    font-family: 'Futura Std'
}

#correction-button {
    background-color: #8f566f;
    float: right;
    padding: 0.5em 2em;
    transition: all .2s ease;
    &:hover {
        background-color: #c57d5c;
    }
    &:focus {
        outline: none;
    }
}

#perfection-button {
    background-color: #4e8064;
    float: left;
    padding: 0.5em 2.5em;
    transition: all .2s ease;
    &:hover {
        background-color: #59929c;
    }
    &:focus {
        outline: none;
    }
}


.tooltip {
    font-family: 'Futura Std';
    font-size: 1em;
    padding: 1em;
}

.forumpost-stats{
    float: right;
    color: grey;
    opacity: 0.7;
    font-family: 'Futura Std';

    .material-icons.md-18 {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 15px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
      }
}

.entry-stats {
    float: right;
    color: grey;
    opacity: 0.7;
    font-family: 'Futura Std';

    .material-icons.md-18 {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 15px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
}

#likes {
    vertical-align: -0.16em;
    margin-left: 0.7em;
    margin-right: 0em;
    &:hover {
        color: #850941;
    }
}

#likes-heart {
    vertical-align: -0.18em;
    margin-left: 0.7em;
    margin-right: 0em;
    &:hover {
        color: #850941;
    }
}

#forever-red {
    vertical-align: -0.18em;
    margin-left: 0.7em;
    margin-right: 0em;
    color: #850941;
    &:hover {
        color: #850941;
    }
}

#unlike-heart {
    vertical-align: -0.18em;
    color: #850941;
    &:link {
        color: #850941;
        opacity: 80%;    
    }

    &:hover {
        color: grey;
        opacity: 0.8;
        text-decoration: none;
    }
}

#level1 {
    vertical-align: -0.1em;
    color: #975280;
    &:hover {
        color: rgb(183, 125, 197);
    }
}

#level2 {
    vertical-align: -0.1em;
    color: #a5703e;
    &:hover {
        color: #c08265;
    }
}

#level3 {
    vertical-align: -0.1em;
    color: #8bafbe;
    &:hover {
        color: #9cc3d4;
    }
}

#level4 {
    vertical-align: -0.1em;
    color: #cfbc4c;
    &:hover {
        color: #e9c493;
    }
}

#level5 {
    vertical-align: -0.1em;
    color: #457b8b;
    &:hover {
        color: #62b1b1;
    }
}

#grey-out {
    vertical-align: -0.1em;
    color: #cecece;
    &:hover {
        color: #b3b3b3;
    }
}

#like-heart {
    vertical-align: -0.18em;
    color: grey;
    opacity: 0.8;

    &:link {
        color: grey;
        opacity: 80%;   
    }

    &:hover {
        color: #850941;
        opacity: 80%;
        text-decoration: none;
    }
}

#point-gem {
    color: #c7874b;
    vertical-align: -0.1em;
}

.thread-tag {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 4em;
}

.thread-page-tag {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 4em;
    font-family: 'Futura Std';
    text-align: left
}

.search-button {
    font-family: 'Futura Std';
    font-size: 1em;
    background-color: transparent;
    border-radius: 2em;
    margin-top: 1em;
    border-color: transparent;
    color: black;
    font-size: 1.5em;

    &:hover {
        background-color: transparent !important;
        text-decoration: none;
        border-color: transparent;
    }
}

#search-icon {
    vertical-align: -3.5px;
    transition: all .3s ease;
    &:hover {
        color: #850941;
        transform: translateX(8px) translateY(0);
    }
}

del {
    color: #000000;
    background-color: #daadbf;
    margin-right: 0.2em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

ins {
    text-decoration: none;
    color: #000000;
    background-color: #98d3ce;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

#no-choice {
    text-align: center !important;
}

.custom-nav {
    background-image: linear-gradient(to bottom, rgba(245, 244, 240, 1), rgba(245, 244, 240, 0));
}

.navbar{
    border:none;
 }

 .beside-avatar {
     margin-top: 0.4em;
 }

 .sign-up-pic {
     float: left;
     height: 34em;
     width: relative;
     padding: 0em;
     margin: 0em;
     border-top-left-radius: 2.5em;
     border-bottom-left-radius: 2.5em;
 }

 .sign-up-words {
     float: right;
     padding-left: 1em;
 }

 .w4-container, .w5-container, .w6-container {
    transition: all .3s ease;
    text-align: center;
    display: inline-block;
    background-color:white;
    border-radius: 2.5em;
    box-shadow: 12px 12px 25px 0px #ac89a5;
 }

 #generator-field {
    transition: all .3s ease;
    box-shadow: 12px 12px 25px 0px #ac89a5;
 }

 .flip-come {
    -webkit-animation: flip-in 1.5s;
    animation: flip-in 1.5s;
    animation-iteration-count: 1;
    transform-style: preserve-3d;
 }

 .flip-go {
    animation: flip-out 1s;
    animation-iteration-count: 1;
    transform-style: preserve-3d;
 }

 @-webkit-keyframes flip-in {
    0% {
        transform: rotateY(-90deg);
    }
    11% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
  }

 @keyframes flip-in {
    0% {
        transform: rotateY(-90deg);
    }
    7% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
  }

  @keyframes flip-out {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
  }

 .w4-container {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0em;
    width: relative;
    padding-right: 3em;
    height: 34em;
}

.w4-container:hover, .w5-container:hover, .w6-container:hover, #generator-field:hover {
    box-shadow: 12px 12px 25px 0px #96628b;
}

.w5-container {
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 1em;
    width: 60%;
}

.w5-container img {
    width: 100%;
    height: relative;
}

.sign-in-pic {
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}

.w6-container {
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 20px 30px;
    width: 60%;
}

.pop-out {
    transform: translateZ(100px);
}

.table-style {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Futura Std';
    text-align: left;
}