@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
    padding-top: 6em;
    background-color: #f5f4f0;
    text-align: center;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.centre {
    text-align: center;
}

.centre h1 {
    margin-bottom: 10px;
}

/* new fonts */
@font-face {
    font-family: 'Triomphe Bold';
    src: url('/assets/Triomphe-Bold.otf');
}

@font-face {
    font-family: 'Futura Std';
    src: url('/assets/Futura-Medium.ttf');
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: 'Futura Std';
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Triomphe Bold';
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    font-family: 'Futura Std';
}

/* header */


#logo {
    float: left;
    margin-right: 0px;
    font-size: 2em;
    color: #000;
    font-family: 'Triomphe Bold';
    /* text-transform: uppercase; */
    letter-spacing: -1 px;
    padding-top: 1em;
    font-weight:bold;
    &:hover {
        color: #850941;
        text-decoration: none;
    }
}

#headerelements {
    padding-top: 3em;
    height: 4.5em !important;
    font-family: 'Futura';
    color: #2B2D2F;

    &:hover {
        border-bottom: 3px solid currentColor;
        display: inline-block;
        text-shadow: none;
        box-shadow: none;
        background-color: transparent !important;
    }
}

.active #headerelements{
    font-family: 'Futura Std';
    color: #850941; 
    
    /* border-bottom: 3px solid currentColor; */
    /* box-shadow: inset 1 0px 0 white, inset 0 -3px 0 currentColor; */
}

/*buttons*/
.btn {
    font-family: 'Futura Std';
    font-size: 1em;
    background-color: #000;
    border-radius: 2em;
    padding: 9px 45px !important;
    margin-top: 2.2em;
    margin-left: 1.8em;
    border-color: transparent;

    &:hover {
        background-color: #850941 !important;
        text-decoration: none;
        border-color: transparent;
    }
}

.active .btn {
    background-color: #850941;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    border-radius: 0.5em;
    /* width: 30%; */
    margin-bottom: 1em;
    margin-left: 1em;
    @include box_sizing(border-box);
}

input {
    height: auto !important;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    padding: 0.2em 0.4em;
}

input:focus {
    box-shadow: 0 0 7px #7676d6;
    -webkit-box-shadow: 0 0 6px #7676d6;
    -moz-box-shadow: 0 0 6px #7676d6;
    border: 1px solid #563799;
}

#text-field {
    display: inline-block;
    clear: left;
    text-align: right;

}

label {
    display: inline-block;
    clear: left;
    width: 7em;
    text-align: right;
}

/* form submit button */
input[type=submit] {
    padding:0.9em 2.5em; 
    background:#000; 
    color: #fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 2em; 
    text-transform: uppercase;
    font-family: 'Futura Std';
    font-size: 0.8em;
    letter-spacing: 0.06em;
    &:hover {
        background:#850941; 
    }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar for profile */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }

/* flash message */

.success .error .danger {
    font-family: 'Futura Std';
}

/* checkbox for form */
.hideme {
  display: none;
}

.woo {
  cursor: pointer;
}

.hideme + .woo:before {
  width: 10px;
  height: 10px;
  border: 2px solid gray;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.2);
  background: red;
  position: relative;
  display: inline-block;
  margin-right: 1ex;
  content: "";
}

.hideme:checked + .woo:before {
  background: green;
}

/* form drop down menu */
.collection-select-class {
    padding: 0.25em;
}
