// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    overflow-x: hidden;
}

#row-entry {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

#left-scroll {
    height: 100% !important;
    float: left;
    overflow-y: scroll !important;
    width: 65%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#left-scroll::-webkit-scrollbar,
#right-scroll::-webkit-scrollbar {
    display: none;
}

#right-scroll {
    #row-entry, html, body {
        height: 98%;
    }
    height: 100% !important;
    float: left;
    overflow-y: scroll !important;
    width: 35%;
    padding-left: 2em;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.entry-title {
    color: #191919;
    font-family: 'Futura Std';
    font-size: 1.5em;
    text-align: left !important;

    .link-colour {
        color: black;
    }

    a:hover {
        color: #850941;
        text-decoration: none;
    }
}

.entry-particulars {
    text-align: left;
    font-family: 'Futura Std';
    font-size: 1.05em;
    color: #850941;
}

.entry-content {
    text-align: left;
    font-size: 1.05em;
    font-family: 'Futura Std';
    color: #262626;
    line-height: 1.6em;
}

.entries {
    list-style: none;
    padding: 0;
    li {
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 20px 30px;
        background-color:white;
        border-radius: 2.5em;
        box-shadow: 12px 12px 25px 0px #ac89a5;
    }
}

.entries:hover {
    li {
        box-shadow: 12px 12px 25px 0px #96628b;
    }
}

.w3-container {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 20px 30px;
    width: 95%;
    background-color:white;
    border-radius: 2.5em;
    box-shadow: 12px 12px 25px 0px #ac89a5;
}

.w3-container:hover {
    box-shadow: 12px 12px 25px 0px #96628b;
}

.no-corrections {
    text-align: center;
    font-size: 1.05em;
    font-family: 'Futura Std';
}

.entry-edit-particulars {
    font-family: 'Futura Std';
    font-size: 1.05em;
}

#resolved-icon {
    font-family: 'Futura Std';
    border: none;
    background-color: transparent;
    color: rgb(115, 165, 100);
    vertical-align: -0.2em;
}