// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* journal */

.journals {
  list-style: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  li {
    padding: 10px 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: 30%;
    height: 25em;
    border-top: 1px solid #e8e8e8;
    float: left;
    vertical-align: top;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
  }
  .timestamp {
    color: grey;
    display: block;
  }
}

.journal-title {
  font-family: 'Futura Std';
  font-size: 1.7em;
  padding-top: 0.9em;
  line-height: 1;
  text-align: left;
}

.journal-preview-title {
  font-family: 'Futura Std';
  font-size: 1.05em;
  padding-top: 0.9em;
  line-height: 1;
  .link-colour {
    color: black;
  }
  a:hover {
    color: #850941;
    text-decoration: none;
  }
}

.journal-description {
  font-family: 'Futura Std';
  padding-top: 0.5em;
}