// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* journal */

.journals {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: grey;
    display: block;
    margin-left: 60px;
  }
}

.journal-title {
  font-family: 'Futura Std';
  font-size: 1.7em;
  padding-top: 0.9em;
  line-height: 1;
  text-align: left;
}