// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag-deco {
    background-color: #850941;
    color: white;
    padding: 0.4em 2em;
    border-radius: 3em;
    margin-right: 1em;

    &:hover {
        color: white;
        text-decoration: none;
    }
}