// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_image {
    border-radius: 5em;
    width: 101%;
    height: auto;
}

.homecontainer{
    position: relative;
    text-align: center;
    color: #f5f4f0;
    .left{
        position: absolute;
        top: 2em;
        left: 2em;
        font-size: 3.5vw;
        
    }
}

.edit-particulars {
    text-align: left;
    font-family: 'Futura Std';
    font-size: 0.8em;
    color: #850941;
    display: inline;
}

#journal-button {
    font-family: 'Futura Std';
    border: none;
    background-color: transparent;
    color: black;
    vertical-align: middle;
    &:hover {
        color: #850941;
        text-decoration: none;
    }
}

#journal-button:focus {
    outline: none;
}

.landing {
    width: relative;
    height: 96%;
    vertical-align: middle;
    padding-top: 2.5em;
    padding-right: 1.5em;
    padding-left: 0em;
    float: right;
}

.no-padding-header {
    padding-top: 0em !important;
}

.welcome-landing {
    font-family: Futura Std;
    font-size: 1.9em;
    padding-left: 5.7em;
    padding-right: 0em;
    text-align: left;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
    color: black;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba(133, 9, 65, 0.3);
        width: 56px;
        height: 56px;
        transition: all .3s ease;
    }
    span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: .15em;
        text-transform: uppercase;
        vertical-align: middle;
        top:-8px;
    }
    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: black;
        stroke-width: 2;
        transform: translateX(-6px) translateY(-10px);
        transition: all .3s ease;
    }

    &:hover {
        text-decoration: none;
        color: white;
        &:before {
            width: 100%;
            background: #850941;
        }
        svg {
            transform: translateX(0) translateY(-10px);
            stroke: white;
        }
        &:active {
            transform: scale(.96);
        }
    }
}

.search-bar {
    border-radius: 2em;
    padding: 0.5em;
    padding-left: 1.5em;
    width: 15em;
    margin-left: 0.5em;
}

.fade1 {
    -webkit-animation: fade-in1 2s;
    animation: fade-in1 2s;
    animation-iteration-count: 1;
}

.fade2 {
    -webkit-animation: fade-in2 4s;
    animation: fade-in2 4s;
    animation-iteration-count: 1;
}

 @-webkit-keyframes fade-in1 {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes fade-in2 {
    0% {
        opacity:0;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

rowp {
    overflow-y: hidden;
}