// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_image {
    border-radius: 5em;
    width: 101%;
    height: auto;
}

.homecontainer{
    position: relative;
    text-align: center;
    color: #f5f4f0;
    .left{
        position: absolute;
        top: 2em;
        left: 2em;
        font-size: 3.5vw;
        
    }
}

.edit-particulars {
    text-align: left;
    font-family: 'Futura Std';
    font-size: 0.8em;
    color: #850941;
    display: inline;
}

#journal-button {
    font-family: 'Futura Std';
    font-size: 1em;
    border-radius: 1.5em;
    padding: 0.4em 0.7em;
    border-color: #850941;
    background-color: transparent;
    color: black;
}

#journal-button:focus {
    outline: none;
}